# Python / cache
__pycache__/
*.pyc

# Environnement virtuel / secrets
.venv/
.env

# macOS
.DS_Store

# Outils / binaires locaux à ne pas versionner
.python-version
google-cloud-sdk/
google-cloud-cli-darwin-arm.tar.gz

# Artefacts de pipeline / compilations
pipeline_job.json

# IDE / divers
.spyderproject
.spyproject
.ropeproject
.ruff_cache/
.pypirc
.cursorignore
.cursorindexingignore

# Outils d'analyse statique
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Cython
cython_debug/

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/
